@import (reference) "team-sprites.less";


.wiki a[href^="#"]:after,
.usertext-body a[href^="#"]:after {
  content:"";
  width: 36px;
  height: 15px;
  background: url(%%teams%%)  no-repeat top left transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: default!important;
}
.wiki .toc a[href^="#"]:after {
  display: none;
}


/* Ti5 */

a[href="#all"]:after {
	.sprite-position(@all)!important;
}
a[href="#archon"]:after {
	.sprite-position(@archon)!important;
}
a[href="#biggod"]:after {
	.sprite-position(@biggod)!important;
}
a[href="#burden"]:after {
	.sprite-position(@burden)!important;
}
a[href="#c9"]:after {
	.sprite-position(@c9)!important;
}
a[href="#cdec"]:after {
	.sprite-position(@cdec)!important;
}
a[href="#col"]:after {
	.sprite-position(@col)!important;
}
a[href="#dk"]:after {
	.sprite-position(@dk)!important;
}
a[href="#eg"]:after {
	.sprite-position(@eg)!important;
}
a[href="#ehome"]:after {
	.sprite-position(@ehome)!important;
}
a[href="#empire"]:after {
	.sprite-position(@empire)!important;
}
a[href="#fnc"]:after {
	.sprite-position(@fnc)!important;
}
a[href="#hr"]:after {
	.sprite-position(@hr)!important;
}
a[href="#ig"]:after {
	.sprite-position(@ig)!important;
}
a[href="#lgd"]:after {
	.sprite-position(@lgd)!important;
}
a[href="#mouz"]:after {
	.sprite-position(@mouz)!important;
}
a[hrefm="#mvp"]:after {
	.sprite-position(@mvp)!important;
}
a[href="#navi"]:after {
	.sprite-position(@navi)!important;
}
a[href="#newbee"]:after {
	.sprite-position(@newbee)!important;
}
a[href="#nip"]:after {
	.sprite-position(@nip)!important;
}
a[href="#rave"]:after {
	.sprite-position(@rave)!important;
}
a[href="#secret"]:after {
	.sprite-position(@secret)!important;
}
a[href="#tongfu"]:after {
	.sprite-position(@tongfu)!important;
}
a[href="#vega"]:after {
	.sprite-position(@vega)!important;
}
a[href="#vg"]:after {
	.sprite-position(@vg)!important;
}
a[href="#vp"]:after {
	.sprite-position(@vp)!important;
}
	