@import (reference) "team-sprites.less";


.wiki a[href^="#"]:after,
.usertext-body a[href^="#"]:after {
  content:"";
  width: 36px;
  height: 15px;
  background: url(%%teams%%) no-repeat transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: default!important;
  .sprite-position(@default);
}
.wiki .toc a[href^="#"]:after {
  display: none;
}


/* Americas */

a[href="#col"]:after {
	.sprite-position(@col)!important;
}
a[href="#eg"]:after {
	.sprite-position(@eg)!important;
}
a[href="#not"]:after {
	.sprite-position(@not)!important;
}
a[href="#root"]:after {
	.sprite-position(@root)!important;
}
a[href="#rift"]:after {
	.sprite-position(@rift)!important;
}
a[href="#archon"]:after {
	.sprite-position(@archon)!important;
}
a[href="#lev"]:after {
	.sprite-position(@lev)!important;
}
a[href="#unk"]:after {
	.sprite-position(@unk)!important;
}

/* China */

a[href="#cdec"]:after {
	.sprite-position(@cdec)!important;
}
a[href="#ehome"]:after {
	.sprite-position(@ehome)!important;
}
a[href="#ep"]:after {
	.sprite-position(@ep)!important;
}
a[href="#hgt"]:after {
	.sprite-position(@hgt)!important;
}
a[href="#ig"]:after {
	.sprite-position(@ig)!important;
}
a[href="#lgd"]:after {
	.sprite-position(@lgd)!important;
}
a[href="#newbee"]:after {
	.sprite-position(@newbee)!important;
}
a[href="#newbee-y"]:after {
	.sprite-position(@newbee-y)!important;
}
a[href="#speed"]:after {
	.sprite-position(@speed)!important;
}
a[href="#dk"]:after {
	.sprite-position(@dk)!important;
}
a[href="#tongfu"]:after {
	.sprite-position(@tongfu)!important;
}
a[href="#tongfu-wz"]:after {
	.sprite-position(@tongfu-wz)!important;
}
a[href="#vg"]:after {
	.sprite-position(@vg)!important;
}
a[href="#vg-p"]:after {
	.sprite-position(@vg-p)!important;
}


/* Europe */

a[href="#all"]:after {
	.sprite-position(@all)!important;
}
a[href="#bears"]:after {
	.sprite-position(@bears)!important;
}
a[href="#burden"]:after {
	.sprite-position(@burden)!important;
}
a[href="#c9"]:after {
	.sprite-position(@c9)!important;
}
a[href="#hr"]:after {
	.sprite-position(@hr)!important;
}
a[href="#ldnc"]:after {
	.sprite-position(@ldnc)!important;
}
a[href="#mym"]:after {
	.sprite-position(@mym)!important;
}
a[href="#mouz"]:after {
	.sprite-position(@mouz)!important;
}
a[href="#m5"]:after {
	.sprite-position(@m5)!important;
}
a[href="#myi"]:after {
	.sprite-position(@myi)!important;
}
a[href="#navi"]:after {
	.sprite-position(@navi)!important;
}
a[href="#nip"]:after {
	.sprite-position(@nip)!important;
}
a[href="#rangers"]:after {
	.sprite-position(@rangers)!important;
}
a[href="#empire"]:after {
	.sprite-position(@empire)!important;
}
a[href="#secret"]:after {
	.sprite-position(@secret)!important;
}
a[href="#vega"]:after {
	.sprite-position(@vega)!important;
}
a[href="#vp"]:after {
	.sprite-position(@vp)!important;
}

/* SEA */

a[href="#fnc"]:after {
	.sprite-position(@fnc)!important;
}
a[href="#mineski"]:after {
	.sprite-position(@mineski)!important;
}
a[href="#mvp"]:after {
	.sprite-position(@mvp)!important;
}
a[href="#st"]:after {
	.sprite-position(@st)!important;
}

/* Legacy */

a[href="#biggod"]:after {
	.sprite-position(@biggod)!important;
}
a[href="#rave"]:after {
	.sprite-position(@rave)!important;
}
a[href="#tinker"]:after {
	.sprite-position(@tinker)!important;
}
/* unsorted */






















	